## Sentiment Analysis

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from textblob import TextBlob

#### Importing Data

In [3]:
df = pd.read_csv(r'UScomments.csv', error_bad_lines = False)
df

C:\Users\OMKAR\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 41589: expected 4 fields, saw 11\nSkipping line 51628: expected 4 fields, saw 7\nSkipping line 114465: expected 4 fields, saw 5\n'
b'Skipping line 142496: expected 4 fields, saw 8\nSkipping line 189732: expected 4 fields, saw 6\nSkipping line 245218: expected 4 fields, saw 7\n'
b'Skipping line 388430: expected 4 fields, saw 5\n'
C:\Users\OMKAR\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,video_id,comment_text,likes,replies
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0
4,XpVt6Z1Gjjo,trending üòâ,3,0
...,...,...,...,...
691395,EoejGgUNmVU,–õ—É—á—à–∞—è,1,0
691396,EoejGgUNmVU,qu'est ce que j'aimerais que tu viennes √† Roan...,0,0
691397,EoejGgUNmVU,Ven a mexico! üòç te amo LP,0,0
691398,EoejGgUNmVU,Islƒ±ƒüƒ± yeter...,0,0
691399,EoejGgUNmVU,Kocham tƒÖ piosenkƒôüòç‚ù§‚ù§‚ù§by≈Çam zakochana po uszy ...,0,0

In [6]:
df.head()

,video_id,comment_text,likes,replies
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0
4,XpVt6Z1Gjjo,trending üòâ,3,0

#### Checking for null values

In [8]:
df.isna().sum()

video_id         0
comment_text    25
likes            0
replies          0
dtype: int64

#### Dropping null values

In [9]:
df.dropna(inplace=True)

In [10]:
df.isna().sum()

video_id        0
comment_text    0
likes           0
replies         0
dtype: int64

#### Performing text analysis using on eacf of the comments

In [4]:
polarity=[]
for comment in df['comment_text']:
    try:
        polarity.append(TexBlob(comment).sentiment.polarity)
    except:
        polarity.append(0)

In [7]:
df['polarity']=polarity
df

,video_id,comment_text,likes,replies,polarity
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0,0
4,XpVt6Z1Gjjo,trending üòâ,3,0,0
...,...,...,...,...,...
691395,EoejGgUNmVU,–õ—É—á—à–∞—è,1,0,0
691396,EoejGgUNmVU,qu'est ce que j'aimerais que tu viennes √† Roan...,0,0,0
691397,EoejGgUNmVU,Ven a mexico! üòç te amo LP,0,0,0
691398,EoejGgUNmVU,Islƒ±ƒüƒ± yeter...,0,0,0
691399,EoejGgUNmVU,Kocham tƒÖ piosenkƒôüòç‚ù§‚ù§‚ù§by≈Çam zakochana po uszy ...,0,0,0